.bugs-wrapper {
    padding: 20px;
}

.bug-container {
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    color: var(--secondary-color);
    background-color: var(--third-color);
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.bug-container:hover {
    box-shadow: 1px 1px 10px 1px var(--fifth-color);
}

.bugs-wrapper .header {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 2px solid var(--third-color);
    color: var(--secondary-color);
}

.bugs-wrapper .header .bug-name {
    width: 300px;
    text-align: left;
}

.bugs-wrapper .header .bug-created {
    width: 100px;
}

.bugs-wrapper .header .bug-creator {
    width: 150px;
    text-align: center;
}

.bugs-wrapper .header .bug-status {
    width: 100px;
}

.bug-container .edit {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 15px;
    padding-top: 15px;
    cursor: pointer;
    color: var(--fifth-color);
    transition: all .2s ease-in-out;
}

.bug-container .edit:hover {
    transform: scale(1.2);
    color: var(--fourth-color)
}

.bug-container .bug-name-wrapper {
    width: 300px;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 25px;
}

.bug-container .bug-name-wrapper .comments {
    padding-top: 20px;
    display: flex;
    width: 40px;
    justify-content: space-between;
}

.bug-container .bug-date-wrapper, .bug-date {
    width: 100px;
}

.bug-container .bug-author-wrapper, .bug-author {
    width: 150px;
    text-align: center;
}

.bug-container .bug-status-wrapper div {
    color: white;
    width: 50px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

.bug-container .bug-date-wrapper, .bug-author-wrapper, .bug-status-wrapper {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.bug-container .bug-desc-wrapper .bug-desc {
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.no-bugs {
    color: var(--secondary-color);
}