.bugs-wrapper {
    padding: 20px;
}

.bug-container {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    height: 180px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--secondary-color);
    background-color: var(--third-color);
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.bug-container div {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bug-container .bug-container-author-wrapper {
    width: 25%;
}

.bug-container .bug-container-author-wrapper div {
    font-size: 1.5rem;
}

.bug-container:hover {
    box-shadow: 1px 1px 10px 1px var(--fifth-color),
        2px 2px 20px 2px var(--fifth-color);
}

.bugs-wrapper .header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 2px solid var(--third-color);
    color: var(--secondary-color);
}

.bugs-wrapper .header div {
    display: block;
    text-align: center;
    width: 25%;
}

.bug-container .edit {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 15px;
    padding-top: 15px;
    cursor: pointer;
    color: var(--fifth-color);
    transition: all .2s ease-in-out;
}

.bug-container .edit:hover {
    transform: scale(1.2);
    color: var(--fourth-color)
}

.bug-container .bug-container-name-wrapper {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 25px;
}

.bug-container .bug-container-name-wrapper .comments {
    padding-top: 20px;
    padding-bottom: 10px;
    align-self: left;
    display: flex;
    width: 40px;
    justify-content: space-between;
}

.bug-container .bug-container-date-wrapper {
    width: 25%;
}

.bug-container .bug-container-date-wrapper .bug-date {
    width: 100%;
}

.bug-container .bug-container-status-wrapper div {
    width: 60px;
    padding: 7px;
    border-radius: 10px;
}

.no-bugs {
    color: var(--secondary-color);
}