.create-page-wrapper {
  left: 0;
  min-height: calc(100vh - 80px);
  padding: 20px 20px 20px 70px;
  font-size: 2rem;
  width: 100%;
}

.create-page-wrapper .btns-wrapper {
  align-self: center;
  padding: 20px;
}

.create-page-wrapper .create-bug-wrapper .btns-wrapper .cancel-btn {
  font-size: 1rem;
  width: 100px;
  text-align: center;
  background-color: red;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  transition: all .2s ease-in-out;
  font-weight: bold;
}

.create-page-wrapper .create-bug-wrapper .btns-wrapper .cancel-btn:hover {
  background-color: rgb(255, 77, 0);
}

.create-page-wrapper .create-bug-wrapper .add-btn, .btns-wrapper .save-btn {
  width: 100px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--secondary-color);
  margin-right: 20px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--fifth-color);
  border: none;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.create-page-wrapper .create-bug-wrapper .add-btn:hover, .btns-wrapper .save-btn:hover {
  background-color: var(--fourth-color);
}

.create-bug-wrapper {
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--third-color);
  color: var(--secondary-color);
  position: relative;
}

.dropdown-content {
  cursor: pointer;
  width: 150px;
  padding: 5px;
}

.create-page-wrapper .create-bug-wrapper .back-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px;
  font-size: .9rem;
  border-radius: 5px;
  background-color: var(--fifth-color);
  border: none;
  color: var(--secondary-color);
  cursor: pointer;
  font-weight: bold;
  transition: all .2s ease-in-out;
}

.create-page-wrapper .create-bug-wrapper .back-btn:hover {
  background-color: var(--fourth-color);
}

.create-bug-wrapper [type="date"] {
  width: 150px;
  margin: 10px 0;
}

.create-bug-wrapper [type="text"] {
  margin: 10px 0;
  padding: 5px;
  font-size: 1.2rem;
}

.create-bug-wrapper textarea {
  height: 200px;
  padding: 5px;
}
