.edit-page-wrapper {
    min-height: 100vh;
    padding: 20px;
    font-size: 2rem;
    width: 100%;
    padding: 20px 20px 20px 90px;
}

.edit-page-wrapper .btns-wrapper {
    align-self: center;
    padding: 20px;
}

.edit-page-wrapper button {
    font-size: 1rem;
    width: 100px;
    text-align: center;
    background-color: red;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all .2s ease-in-out;
    font-weight: bold;
    border: none;
}

.edit-page-wrapper .edit-bug-wrapper .cancel-btn:hover {
    background-color: rgb(255, 77, 0);
}

.edit-page-wrapper .save-btn {
    margin-right: 20px;
    background-color: var(--fifth-color);
}

.edit-bug-wrapper {
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--third-color);
    color: var(--secondary-color);
}

.edit-bug-wrapper [type="date"] {
    width: 150px;
    margin: 10px 0;
}

.edit-bug-wrapper [type="text"] {
    margin: 10px 0;
    padding: 5px;
    font-size: 1.2rem;
}

.edit-bug-wrapper textarea {
    height: 200px;
    padding: 5px;
}

.edit-bug-wrapper .status {
    display: flex;
    width: 350px;
    justify-content: space-between;
    align-items: center;
}

.status div:first-child {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
    border-radius: 5px;
    width: 90px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.status .open {
    background-color: green;
}

.status .closed {
    background-color: red;
}

.status .marks div {
    width: 250px;
}

.status .checkbox {
    margin-right: 20px;
    transform: scale(1.2);
    cursor: pointer;
}

@media (max-width: 500px) {
    .edit-page-wrapper {
        padding: 100px 10px 10px;
    }
    .edit {
        z-index: 3;
    }
}