.home-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary-color);
    padding: 50px 10px 10px;
    min-height: 100vh;
}

.home-wrapper .search-wrapper {
    align-self: center;
    color: var(--secondary-color);
    height: 200px;
    width: 500px;
    margin: 20px;
    background-color: var(--third-color);
    padding: 10px;
    border-radius: 10px;
}

.home-wrapper .search-wrapper .form-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.home-wrapper .search-wrapper .form-wrapper .form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.home-wrapper .search-wrapper .form-group [type='text'] {
    height: 30px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    padding: 5px;
}

.home-wrapper .search-wrapper .form-group .radio-header {
    padding-bottom: 10px;
}

.home-wrapper .search-wrapper .form-group .radio-group .first-select {
    padding-right: 10px;
}

.home-wrapper .search-wrapper .form-wrapper .dropdown-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}

.home-wrapper .search-wrapper .form-wrapper button {
    width: 100px;
    align-self: center;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: var(--secondary-color);
    background-color: var(--fifth-color);
    transition: all .2s ease-in-out;
}

.home-wrapper .search-wrapper .form-wrapper button:hover {
    background-color: var(--fourth-color);
}

.results {
    color: var(--secondary-color);
    padding-left: 20px;
}

@media (max-width: 500px) {
    .statistics-wrapper {
        width: 100%;
        padding-top: 10px;
    }
    .home-wrapper .search-wrapper {
        width: 100%;
        padding: 10px;
        margin: 0;
    }
    .bugs-wrapper .header {
        font-size: 1rem;
        display: none;
    }
    .bugs-wrapper {
        padding: 5px;
    }
    .bug-container {
        flex-wrap: wrap;
        position: relative;
        min-height: 120px;
        height: auto;
    }
    .bug-container .bug-container-date-wrapper {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
    .bug-container .bug-container-name-wrapper {
        width: 100%;
        align-items: flex-start;
        padding-bottom: 20px;
    }
    .bug-container .bug-container-name-wrapper h1 {
        font-size: 1.2rem;
    }
    .bug-container .bug-container-name-wrapper .comments {
        position: absolute;
        bottom: 9px;
        padding-top: 10px;
        padding-bottom: 0px;
    }
    .bug-container .bug-container-date-wrapper .bug-date {
        padding: 10px;
        width: 100%;
        justify-content: left;
    }
    .bug-container .bug-container-author-wrapper {
        position: absolute;
        right: 5px;
        bottom: 9px;
    }
    .bug-container .bug-container-author-wrapper div {
        font-size: 1.2rem;
    }
    .bug-container .bug-container-status-wrapper {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 9px;
        width: 60px;
    }
    .bug-container .bug-container-status-wrapper div {
        width: 100%;
        font-size: .9rem;
        padding: 1px;
    }
    .results {
        padding-top: 20px;
        padding-left: 5px;
    }
    /* .home-wrapper .search-wrapper .form-wrapper {
        padding: 10px;
    } */
}