.home-wrapper {
    min-height: calc(100vh-80px);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 50px;
    background-color: var(--primary-color);
}

.home-wrapper .search-wrapper {
    color: var(--secondary-color);
    height: 300px;
    width: 500px;
    margin: 20px;
    background-color: var(--third-color);
    padding: 10px;
    border-radius: 10px;
}

.home-wrapper .search-wrapper .form-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.home-wrapper .search-wrapper .form-wrapper .form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.home-wrapper .search-wrapper .form-group [type='text'] {
    height: 30px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    padding: 5px;
}

.home-wrapper .search-wrapper .form-group .radio-header {
    padding-bottom: 10px;
}

.home-wrapper .search-wrapper .form-group .radio-group .first-select {
    padding-right: 10px;
}

.home-wrapper .search-wrapper .form-wrapper .dropdown-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}

.home-wrapper .search-wrapper .form-wrapper button {
    width: 100px;
    align-self: center;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: var(--secondary-color);
    background-color: var(--fifth-color);
    transition: all .2s ease-in-out;
}

.home-wrapper .search-wrapper .form-wrapper button:hover {
    background-color: var(--fourth-color);
}