.nav-wrapper {
    position: relative;
    left: -180px;
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 20px;
    margin: 0;
    width: 0px;
    min-height: 100vh;
    font-size: 1.5rem;
    background-color: var(--primary-color);
    transition: all .3s ease-in-out;
    opacity: 0;
}

.active {
    left: 0;
    margin-right: 10px;
    opacity: 1;
    width: 180px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100),
        0px 0px 20px rgb(176, 176, 176);
}

.hamburger {
    right: -60px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 200px;
    justify-content: space-evenly;
    border: none;
}

.nav-links a {
    width: 100%;
    box-shadow: none;
    text-decoration: none;
    color: var(--secondary-color);
}

@keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
}