* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  --primary-color: #4E6A8C;
  --secondary-color: #C2E2FB;
  --third-color: #859DBB;
  --fourth-color: #6483A9;
  --fith-color: #8C704E;
  --sixth-color: #BBA385;
}
