* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  --primary-color: #1B1F28;
  --secondary-color: #E8EAEB;
  --third-color: #232830;
  --fourth-color: #2979F2;
  --fifth-color: #6586B8;
  --sixth-color: #2045AF;
  --seventh-color: #3C516B;
}
