* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'roboto';
}

html, body, #root {
  height: 100%;
  --primary-color: #1B1F28;
  --secondary-color: #E8EAEB;
  --third-color: #232830;
  --fourth-color: #2979F2;
  --fifth-color: #6586B8;
  --sixth-color: #2045AF;
  --seventh-color: #3C516B;
  --toastify-color-dark: var(--fifth-color);
  --hover-effect: 1px 1px 10px 1px #6586b88b,
  2px 2px 20px 2px #6586b878;
}

input[type=text] {
  word-wrap: break-word;
  max-width: 500px;
  /* background-color: var(--secondary-color); */
  border-radius: 10px;
}

textarea {
  background-color: var(--secondary-color);
  border-radius: 10px;
}


